.register {
  color: white;
  display: flex;
  font-family: "Inter";
  flex-direction: column;
}
.register__form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 358px;
}

.register__input {
  margin-bottom: 30px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  padding: 0 0 5px 0;
  color: white;
}

.register__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 20px 0 50px;
}


.register__submit {
  background: #ffffff;
  border-radius: 2px;
  color: #000;
  border: 0;
  height: 50px;
  margin-top: 180px;
  font-size: 18px;
  line-height: 22px;
}
.register__submit:hover {
  opacity: 0.85;
  cursor: pointer;
}
.register__form p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 14px 0 0;
}
@media screen and (max-width: 425px) {
  .register__form {
    width: 260px;
  }
  .register__heading {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 40px;
  }
  .register__submit {
    margin-top: 140px;
    font-size: 16px;
    line-height: 19px;
  }

}